{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <div class="header col-sm-12">
            <h3 style="margin-bottom: 7%; ">Forgot your password?</h3>
        </div>
{% if email is defined %}{{ email }}{% endif %}
        <div class="col-sm-offset-1 col-sm-6 col-xs-12 text-left">
            <div class="panel panel-primary">
                {% if form1 is defined %}
                    <div class="panel-heading">Step 1: Type your email.</div>
                    <div class="panel-body">
                        <div class="col-xs-12 text-left">

                            {% if app.session.flashBag.has('error')  %}
                                {% for flashMessage in app.session.flashbag.get('error') %}
                                    <div class="col-sm-12 text-center alert alert-danger" role="alert">{{ flashMessage }}</div>
                                {% endfor %}
                            {% endif %}

                            {{ form_start(form1) }}
                            <div class="col-sm-12">
                                {{ form_row(form1.username) }}
                            </div>
                            <div class="col-sm-12">
                                {{ form_row(form1.next) }}
                            </div>
                            {{ form_end(form1) }}

                        </div>
                    </div>
                {% endif %}

                {% if form3 is defined %}
                    <div class="panel-heading">Step 2: Answer your question.</div>
                    <div class="panel-body">
                        {% if app.session.flashBag.has('error')  %}
                            {% for flashMessage in app.session.flashbag.get('error') %}
                                <div class="col-sm-12 text-center alert alert-danger" role="alert">{{ flashMessage }}</div>
                            {% endfor %}
                        {% endif %}
                        <div class="col-xs-12 text-center">

                            {% if question is defined %}
                                <b>{{ question }}</b>
                            {% endif %}
                        </div>
                        <div class="col-xs-12 text-left">
                            {% if app.session.flashBag.has('error')  %}
                                {% for flashMessage in app.session.flashbag.get('error') %}
                                    <div class="col-sm-12 text-center alert alert-danger" role="alert">{{ flashMessage }}</div>
                                {% endfor %}
                            {% endif %}
                            {{ form_start(form3) }}

                            <div class="col-xs-12 text-left">
                                {{ form_row(form3.answer) }}
                            </div>
                            <div class="col-xs-12 text-left">
                                {{ form_row(form3.submit) }}
                            </div>
                            {{ form_end(form3) }}

                        </div>
                    </div>
                {% endif %}

                {% if form2 is defined %}
                    <div class="panel-heading">Step 3: Change your password.</div>
                    <div class="panel-body">
                        <div class="col-xs-12 text-left">

                            {{ form(form2) }}

                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}