<header class="navbar col-sm-12 header">
    <div class="container">
        <nav class="navbar navbar-default col-sm-12 navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('myapp_homepage') }}" style="padding: 10px;">
                        <img src="{{ asset('bundles/myapp/images/VFH-logo.png') }}" alt="VF-Housing" />
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav" style="padding: 8px;">
                        <li><a href="{{ path('myapp_homepage') }}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Listings <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('myapp_listing_sale') }}">For Sale</a></li>
                                <li><a href="{{ path('myapp_listing_rent') }}">For Rent</a></li>
                            </ul>
                        </li>
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <li><a href="{{ path('myapp_my_listings') }}">My listings</a></li>
                        {% endif %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right" style="padding: 8px;">
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <li><a href="{{ path('myapp_my_account') }}"><span class="glyphicon glyphicon-user"></span> My account</a></li>
                            <li><a href="{{ path('myapp_logout') }}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                        {% else %}
                            <li><a href="{{ path('myapp_register') }}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                            <li><a href="{{ path('myapp_login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                        {% endif %}
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>
</header>

